body {
    background-color: #D8CFC0;
    color: #fff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

/* Header */

#header-nav {
    background-color: #38322C;
    border-radius: 20;
    border: 0;
    padding: 0;
}

.navbar-brand {
 padding: 0;
}

.navbar-brand h1 {
    color: #C38D4F;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
    /*text-shadow: 1px 1px 1px #222;*/
    margin-top: 8px;
    margin-bottom: 3px;
    line-height: 0.9;
}

.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link {
    text-decoration: none;
}

.navbar-brand p {
    color: #C38D4F;
    text-transform: capitalize;
    font-size: .7em;
    margin: 0;
    margin-bottom: 3px;
}

button.navbar-toggler:hover {
    background-color: aqua;
}

#nav-list a {
    text-align: right;
}

li.nav-item {
    padding: 8px;
    width: 87px;
    text-align: center;
}

li.nav-item:hover {
    background-color: #A74A43;
}

li.nav-item a {
    text-decoration: none;
    color: #C38D4F;
    text-align: center;
    font-weight: 300;
}

li.nav-item:hover a{
    font-weight: 500;
}

li.nav-item:hover span{
    font-size: 1.2em;
}

#header-nav .navbar-toggler {
    border: 2px solid #C38D4F;
}

#header-nav .fa-bars {
    color: #C38D4F;
}

/* End Header */

/* MEDIA QUERIES */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  .navbar-brand h1 {
    margin-top: 6px;
    font-size: 1.5em;
  }
  .navbar-brand p { /* CSDA Batch of 2026 */
    vertical-align: middle;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 0.7em;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    /* Header */
  .navbar-brand h1 {
    margin-top: 7px;
    font-size: 1.3em;
  }
  .navbar-brand p { /* CSDA Batch of 2026 */
    vertical-align: middle;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 0.6em;
  }
  /* End Header */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand h1 {
    margin-top: 8px;
    font-size: 3vw;
  }.navbar-brand p { /* CSDA Batch of 2026 */
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 1.5vw;
}
  /* End Header */

}